spring:
  application:
    name: FileFlow
    frontend-url: ${FRONTEND_URL:http://localhost:3000}
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 20000
    # Common configurations
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
# JWT Configuration with environment variables
jwt:
  secret-key:  ${JWT_SECRET_KEY}
  access-token-expiration: ${JWT_ACCESS_EXPR}
  refresh-token-expiration: ${JWT_REFRESH_EXPR}
  security:
    include-minimal-claims: true
    validate-issuer: true
    validate-environment: true


# Verification Token properties
app:
  verification-token:
    expiration-minutes: 15 # token expires after 15 minutes
    token-length: 32 # length of the random bytes used for token generation